// Colors
$txtColor: #191919;
$white: #E2E2E2;
$grey: #9A9A9A;
$yellow: #FFEC00;
$blue: #31BDF7;
$lightBlue: #3EFFF1;
$purple: #F459FB;
$green: #0F0;
$backGroundColor: #0e1226;

// Gradients
$mainGradient: -webkit-linear-gradient(0deg, rgba(49, 189, 247, 1) 0%, rgba(62, 255, 241, 1) 50%, rgba(244, 89, 251, 1) 100%);

// Fonts
$titleFont: normal 24px "eurostile-extended",
sans-serif;
$subTitleFont: bold 12px "Montserrat",
sans-serif;
$bodyFont: normal 16px "Montserrat",
sans-serif;
$buttonFont: italic 14px "good-times",
sans-serif;