* {
  margin: 0;
  padding: 0; }

body {
  background: #0e1226 url("../img/svg/grillage.svg");
  background-position: 10% 0; }

h2 {
  font: normal 24px "eurostile-extended", sans-serif;
  color: #E2E2E2;
  font-weight: bold;
  font-size: 1em;
  text-align: center; }

video {
  width: 100%; }

header {
  background-color: #191919;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header #logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    header #logo img {
      width: 50%; }
  header .navigation {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .navigation a {
      text-decoration: none; }
    header .navigation p,
    header .navigation h1 {
      color: #E2E2E2;
      font: italic 14px "good-times", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 0.86em;
      text-align: end; }

@keyframes slideMenu {
  from {
    transform: translate3d(-100%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

main#mainPage {
  width: 100%;
  position: relative; }
  main#mainPage #firstInputs {
    width: 90%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%; }
    main#mainPage #firstInputs #menuBurger .forOxygameMenu {
      display: flex;
      align-content: center;
      justify-content: center;
      position: inherit;
      background: none;
      transition: transform 0.1s, position 0.1s, background 0.1s, justify-content 0.1s;
      transform: translate3d(0, 0, 0); }
      main#mainPage #firstInputs #menuBurger .forOxygameMenu svg {
        transition: transform 0.2s; }
    main#mainPage #firstInputs #menuBurger #oxygameMenuCheck {
      display: none; }
      main#mainPage #firstInputs #menuBurger #oxygameMenuCheck:checked ~ label .filterBlack {
        display: block;
        visibility: visible; }
      main#mainPage #firstInputs #menuBurger #oxygameMenuCheck:checked ~ label article.menuOpen {
        display: block;
        animation: slideMenu 0.2s;
        transform: translate3d(0, 0, 0); }
      main#mainPage #firstInputs #menuBurger #oxygameMenuCheck:checked ~ label .forOxygameMenu {
        position: fixed;
        z-index: 10;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        top: 7vh;
        width: 50%;
        height: 10vh;
        padding: 0 5%;
        left: 0;
        animation: slideMenu 0.2s;
        transform: translate3d(0, 0, 0);
        background: url("../img/svg/grillageDarker.svg");
        background-color: #E2E2E2; }
        main#mainPage #firstInputs #menuBurger #oxygameMenuCheck:checked ~ label .forOxygameMenu svg {
          transform: rotate(180deg); }
        main#mainPage #firstInputs #menuBurger #oxygameMenuCheck:checked ~ label .forOxygameMenu circle,
        main#mainPage #firstInputs #menuBurger #oxygameMenuCheck:checked ~ label .forOxygameMenu path {
          stroke: #191919; }
    main#mainPage #firstInputs #menuBurger .filterBlack {
      width: 100%;
      height: 100%;
      background-color: #0e1226;
      z-index: 9;
      opacity: 0.7;
      visibility: hidden;
      display: none;
      transition: 500ms;
      position: fixed;
      top: 7vh;
      left: 0; }
    main#mainPage #firstInputs #menuBurger .menuOpen {
      position: fixed;
      top: 16vh;
      left: 0;
      z-index: 10;
      width: 50%;
      height: 84vh;
      padding: 5%;
      align-items: flex-start;
      flex-direction: column;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.1s;
      background: url("../img/svg/grillageDarker.svg");
      background-color: #E2E2E2; }
      main#mainPage #firstInputs #menuBurger .menuOpen img {
        transform: rotate(180deg); }
      main#mainPage #firstInputs #menuBurger .menuOpen:nth-child(1), main#mainPage #firstInputs #menuBurger .menuOpen:nth-child(2) {
        background-color: #E2E2E2; }
      main#mainPage #firstInputs #menuBurger .menuOpen label[for=oxygameMenuCheck] {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 15vh; }
      main#mainPage #firstInputs #menuBurger .menuOpen a {
        text-decoration: none;
        color: #191919;
        font: normal 24px "eurostile-extended", sans-serif;
        font-size: 0.6em;
        font-weight: bold;
        margin-left: 9%; }
  main#mainPage .subscribeBtn {
    font: italic 14px "good-times", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.86em;
    width: 41%;
    background-color: #FFEC00;
    text-align: start;
    padding: 5px 12px; }
    main#mainPage .subscribeBtn a {
      text-decoration: none;
      color: #191919; }
  main#mainPage #filAriane {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    main#mainPage #filAriane .filStart {
      position: absolute;
      top: -5vh;
      left: 49%;
      z-index: 3; }
    main#mainPage #filAriane .filEnd {
      position: absolute;
      bottom: -3vh;
      z-index: 3; }
    main#mainPage #filAriane .codeBar {
      position: absolute;
      bottom: 2vh;
      left: 75%;
      z-index: 3; }
    main#mainPage #filAriane #teaserOxyclash {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column; }
      main#mainPage #filAriane #teaserOxyclash #threePoints {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; }
        main#mainPage #filAriane #teaserOxyclash #threePoints img {
          width: 2%;
          margin-bottom: 1vh; }

@keyframes animationPoint {
  0% {
    opacity: 100%; }
  33% {
    opacity: 66%; }
  66% {
    opacity: 33%; }
  100% {
    opacity: 100%; } }
        main#mainPage #filAriane #teaserOxyclash #threePoints :nth-child(1) {
          animation: animationPoint 1s infinite; }
        main#mainPage #filAriane #teaserOxyclash #threePoints :nth-child(2) {
          animation: animationPoint 1s 0.3s infinite; }
        main#mainPage #filAriane #teaserOxyclash #threePoints :nth-child(3) {
          animation: animationPoint 1s 0.6s infinite; }
      main#mainPage #filAriane #teaserOxyclash .presentationOxyclash {
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10vh;
        margin: 17vh 0 10vh;
        width: 100%; }
        main#mainPage #filAriane #teaserOxyclash .presentationOxyclash h2 {
          width: 90%; }
        main#mainPage #filAriane #teaserOxyclash .presentationOxyclash img {
          margin-bottom: 5vh;
          width: 90%; }
      main#mainPage #filAriane #teaserOxyclash #videoTeaser {
        position: absolute;
        opacity: 0.6;
        height: 65vh;
        width: 100%;
        z-index: -1; }
      main#mainPage #filAriane #teaserOxyclash .notForIos {
        display: block; }
      main#mainPage #filAriane #teaserOxyclash .forIos {
        display: none; }
      main#mainPage #filAriane #teaserOxyclash .teaserBtnS {
        position: relative;
        width: 100%;
        height: 40px; }
        main#mainPage #filAriane #teaserOxyclash .teaserBtnS .teaserBtn {
          position: absolute;
          left: 45%;
          background: none;
          border: solid 1px #E2E2E2;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(45deg); }

@keyframes clickBtn {
  from {
    transform: scale(1.3) rotate(45deg); }
  to {
    transform: scale(0.77) rotate(45deg); } }
          main#mainPage #filAriane #teaserOxyclash .teaserBtnS .teaserBtn:active {
            animation: clickBtn 0.5s; }
          main#mainPage #filAriane #teaserOxyclash .teaserBtnS .teaserBtn svg {
            width: 60%;
            height: 60%;
            transform: rotate(-45deg); }
        main#mainPage #filAriane #teaserOxyclash .teaserBtnS div {
          font: italic 14px "good-times", sans-serif;
          font-style: normal;
          font-weight: bold;
          color: #191919; }
      main#mainPage #filAriane #teaserOxyclash .codeBar {
        width: 20%; }
    main#mainPage #filAriane .withBg {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #0e1226; }
    main#mainPage #filAriane #detailsOxyclash {
      width: 100%;
      padding: 10vh 0 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative; }
      main#mainPage #filAriane #detailsOxyclash .bracketImg {
        margin-bottom: 10vh;
        width: 80%; }
      main#mainPage #filAriane #detailsOxyclash .centerBtn {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        height: 6vh;
        width: 45%; }
      main#mainPage #filAriane #detailsOxyclash .endOxyclash {
        height: 25vh;
        padding: 4vh 0;
        justify-content: flex-start;
        position: relative; }
        main#mainPage #filAriane #detailsOxyclash .endOxyclash .filEnd {
          bottom: 4vh; }
      main#mainPage #filAriane #detailsOxyclash h2 {
        margin-bottom: 6vh; }
        main#mainPage #filAriane #detailsOxyclash h2.yellowTitle {
          color: #FFEC00; }
      main#mainPage #filAriane #detailsOxyclash h3 {
        background: -webkit-linear-gradient(0deg, #31bdf7 0%, #3efff1 50%, #f459fb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font: normal 24px "eurostile-extended", sans-serif;
        font-weight: bold;
        margin: 6vh 0; }
      main#mainPage #filAriane #detailsOxyclash h5 {
        text-align: center;
        color: #E2E2E2;
        font: italic 14px "good-times", sans-serif;
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
        width: 70%;
        margin: 2vh 0; }
        main#mainPage #filAriane #detailsOxyclash h5.hours {
          font: normal 24px "eurostile-extended", sans-serif;
          font-weight: bold;
          color: #FFEC00;
          font-size: 1.67em; }
      main#mainPage #filAriane #detailsOxyclash p {
        color: #E2E2E2;
        font: normal 16px "Montserrat", sans-serif;
        width: 80%;
        margin: 5vh 0 10vh; }
      main#mainPage #filAriane #detailsOxyclash iframe {
        width: 70%;
        height: 30vh; }
    main#mainPage #filAriane #detailsOxygame {
      width: 100%; }
      main#mainPage #filAriane #detailsOxygame .oxygameVideo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%; }
      main#mainPage #filAriane #detailsOxygame .planning {
        width: 100%; }
        main#mainPage #filAriane #detailsOxygame .planning #planningToHours {
          display: none; }
        main#mainPage #filAriane #detailsOxygame .planning .planBtns label {
          display: flex;
          justify-content: flex-start; }
          main#mainPage #filAriane #detailsOxygame .planning .planBtns label .planningBtn {
            background-color: white;
            width: 20%;
            position: relative;
            margin: 0 0 0 4vw;
            display: flex;
            align-items: center;
            font: normal 24px "eurostile-extended", sans-serif;
            font-weight: bold;
            font-size: 0.7em;
            height: 3vh; }
            main#mainPage #filAriane #detailsOxygame .planning .planBtns label .planningBtn::before {
              content: "\A";
              border-style: solid;
              border-width: 3vh 4vw 0vh 0px;
              border-color: transparent white transparent transparent;
              position: absolute;
              left: -4vw; }
            main#mainPage #filAriane #detailsOxygame .planning .planBtns label .planningBtn::after {
              content: "\A";
              border-style: solid;
              border-width: 3vh 4vw 0px 0;
              border-color: white transparent transparent transparent;
              position: absolute;
              left: 100%; }
          main#mainPage #filAriane #detailsOxygame .planning .planBtns label .hoursBtn {
            background-color: #9A9A9A;
            width: 20%;
            position: relative;
            margin: 0 5% 0 4%;
            display: flex;
            align-items: center;
            font: normal 24px "eurostile-extended", sans-serif;
            font-weight: bold;
            font-size: 0.7em;
            height: 3vh; }
            main#mainPage #filAriane #detailsOxygame .planning .planBtns label .hoursBtn::before {
              content: "\A";
              border-style: solid;
              border-width: 3vh 4vw 0vh 0px;
              border-color: transparent #9A9A9A transparent transparent;
              position: absolute;
              left: -4vw; }
            main#mainPage #filAriane #detailsOxygame .planning .planBtns label .hoursBtn::after {
              content: "\A";
              border-style: solid;
              border-width: 3vh 4vw 0px 0;
              border-color: #9A9A9A transparent transparent transparent;
              position: absolute;
              left: 100%; }
        main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ label .planningBtn {
          background-color: #9A9A9A; }
          main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ label .planningBtn::before {
            border-color: transparent #9A9A9A transparent transparent; }
          main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ label .planningBtn::after {
            border-color: #9A9A9A transparent transparent transparent; }
        main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ label .hoursBtn {
          background-color: #fff; }
          main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ label .hoursBtn::before {
            border-color: transparent #fff transparent transparent; }
          main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ label .hoursBtn::after {
            border-color: #fff transparent transparent transparent; }
        main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ .hoursImg {
          display: block; }
        main#mainPage #filAriane #detailsOxygame .planning #planningToHours:checked ~ .planningImg {
          display: none; }
        main#mainPage #filAriane #detailsOxygame .planning .planningImg,
        main#mainPage #filAriane #detailsOxygame .planning .hoursImg {
          width: 100%; }
        main#mainPage #filAriane #detailsOxygame .planning .hoursImg {
          display: none; }
        main#mainPage #filAriane #detailsOxygame .planning .withBg {
          padding: 4vh 0 0; }
          main#mainPage #filAriane #detailsOxygame .planning .withBg .faqArrow {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40vh; }
      main#mainPage #filAriane #detailsOxygame h2 {
        background-color: #0e1226;
        padding: 5vh 0;
        width: 100%;
        display: flex;
        justify-content: center; }
    main#mainPage #filAriane #faqOxygame {
      background-color: #E2E2E2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 90%;
      padding: 0 5%; }
      main#mainPage #filAriane #faqOxygame h2 {
        font: normal 24px "eurostile-extended", sans-serif;
        font-size: 1em;
        font-weight: bold;
        color: #191919;
        margin-bottom: 7vh; }
      main#mainPage #filAriane #faqOxygame h3 {
        font: normal 24px "eurostile-extended", sans-serif;
        font-size: 0.78em;
        font-weight: bold;
        color: #191919;
        width: 100%;
        text-align: center;
        margin-bottom: 4vh; }
      main#mainPage #filAriane #faqOxygame h5 {
        font: normal 16px "Montserrat", sans-serif;
        font-size: 0.88em;
        width: 100%;
        margin-bottom: 3vh;
        font-weight: bold; }
      main#mainPage #filAriane #faqOxygame p {
        font: normal 16px "Montserrat", sans-serif;
        font-size: 0.75em;
        margin-bottom: 3vh;
        width: 90%; }
      main#mainPage #filAriane #faqOxygame .faqFilEnd {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 1vh 0 4vh; }
      main#mainPage #filAriane #faqOxygame .gameImgs {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5vh; }
        main#mainPage #filAriane #faqOxygame .gameImgs img {
          width: 40%; }

#legalNotice {
  background-color: #E2E2E2;
  padding: 5%; }
  #legalNotice h2 {
    font: normal 24px "eurostile-extended", sans-serif;
    font-weight: bold;
    text-align: left;
    color: #191919;
    margin-bottom: 5vh; }
  #legalNotice p {
    font: normal 16px "Montserrat", sans-serif;
    color: #191919; }
  #legalNotice ul {
    list-style: none;
    color: #191919;
    font: normal 16px "Montserrat", sans-serif; }

footer {
  width: 100%;
  background-color: #0e1226; }
  footer div {
    width: 95%;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2vh;
    color: #fff; }
    footer div h3 {
      grid-row: 1;
      font: bold 12px "Montserrat", sans-serif;
      font-size: 0.8em; }
    footer div .contactInfos {
      grid-row: 2;
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font: normal 16px "Montserrat", sans-serif;
      font-size: 0.5em; }
      footer div .contactInfos .mailTel {
        grid-column: 1; }
        footer div .contactInfos .mailTel ul {
          list-style: none; }
          footer div .contactInfos .mailTel ul a {
            color: #E2E2E2; }
      footer div .contactInfos .coordinate {
        grid-column: 2; }
        footer div .contactInfos .coordinate ul {
          list-style: none; }
      footer div .contactInfos .socialMedia {
        grid-column: 3;
        display: flex;
        justify-content: space-around; }
        footer div .contactInfos .socialMedia img {
          width: 150%; }
    footer div .bottomFooter {
      grid-row: 3;
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      footer div .bottomFooter img {
        grid-column: 1;
        width: 25%; }
      footer div .bottomFooter p {
        grid-column: 3;
        text-align: end; }

@supports (-webkit-touch-callout: none) {
  .presentationOxyclash > div.notForIos {
    display: none; }
  .presentationOxyclash > div.forIos {
    display: block; } }
