@import './variables.scss';


* {
    margin: 0;
    padding: 0;
    // width: 100% !important;
}

body {
    background: $backGroundColor url("../img/svg/grillage.svg");
    background-position: 10% 0;
    // background-position-x: 10%;
}

h1 {
    background: $mainGradientReverse;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: $titleFont;
    font-size: 3.4em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &::after {
        content: "トーナメント";
        font-size: 0.25em;
    }

    // font-size: 72px;
}

h2 {
    font: $titleFont;
    color: $white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;

}

video {
    width: 100%;
}

header {
    background-color: $txtColor;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #logo {
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 50%;
        }
    }

    .navigation {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
        }

        p {
            color: $white;
            font: $buttonFont;
            font-style: normal;
            font-weight: 700;
            font-size: 0.86em;
            text-align: end;
        }
    }
}

@keyframes slideMenu {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

main#mainPage {
    width: 100%;
    position: relative;

    #firstInputs {
        width: 90%;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5%;

        #menuBurger {
            .forOxygameMenu {
                display: flex;
                align-content: center;
                justify-content: center;
                position: inherit;
                background: none;
                transition: transform 0.1s, position 0.1s, background 0.1s, justify-content 0.1s;
                transform: translate3d(0, 0, 0);

                svg {
                    transition: transform 0.2s;
                }
            }

            #oxygameMenuCheck {
                display: none;

                &:checked {

                    &~label .filterBlack {
                        display: block;
                        visibility: visible;
                    }

                    &~label article.menuOpen {
                        display: block;
                        animation: slideMenu 0.2s;
                        transform: translate3d(0, 0, 0);
                    }

                    &~label .forOxygameMenu {
                        position: fixed;
                        z-index: 10;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: flex-end;
                        top: 7vh;
                        width: 50%;
                        height: 10vh;
                        padding: 0 5%;
                        left: 0;

                        animation: slideMenu 0.2s;
                        transform: translate3d(0, 0, 0);

                        background: url("../img/svg/grillageDarker.svg");
                        background-color: $white;

                        svg {
                            transform: rotate(180deg);
                        }

                        circle,
                        path {
                            stroke: $txtColor;
                        }
                    }
                }


            }

            .filterBlack {
                width: 100%;
                height: 100%;
                background-color: $backGroundColor;
                z-index: 9;
                opacity: 0.7;
                visibility: hidden;
                display: none;
                transition: 500ms;
                position: fixed;
                top: 7vh;
                left: 0;
            }

            .menuOpen {
                position: fixed;
                top: 16vh;
                left: 0;
                z-index: 10;

                width: 50%;
                height: 84vh;
                padding: 5%;

                // display: none;
                align-items: flex-start;
                flex-direction: column;

                transform: translate3d(-100%, 0, 0);
                transition: transform 0.1s;


                background: url("../img/svg/grillageDarker.svg");
                background-color: $white;

                img {
                    transform: rotate(180deg);
                }

                &:nth-child(1),
                &:nth-child(2) {
                    background-color: $white;
                }

                label[for=oxygameMenuCheck] {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    height: 15vh;
                }

                a {
                    text-decoration: none;
                    color: $txtColor;
                    font: $titleFont;
                    font-size: 0.6em;
                    font-weight: bold;
                    margin-left: 9%;
                }


            }
        }

    }

    .subscribeBtn {
        font: $buttonFont;
        font-style: normal;
        font-weight: bold;
        font-size: 0.86em;
        width: 41%;
        background-color: $yellow;
        text-align: start;
        padding: 5px 12px;

        a {
            text-decoration: none;
            color: $txtColor;
        }
    }

    #filAriane {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .filStart {
            position: absolute;
            top: -5vh;
            left: 49%;
            z-index: 3;
        }

        .filEnd {
            position: absolute;
            bottom: -3vh;
            z-index: 3;
        }

        .codeBar {
            position: absolute;
            bottom: 2vh;
            left: 75%;
            z-index: 3;
        }


        #teaserOxyclash {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;



            #threePoints {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    width: 2%;
                    margin-bottom: 1vh;
                }

                @keyframes animationPoint {
                    0% {
                        opacity: 100%;
                    }

                    33% {
                        opacity: 66%;
                    }

                    66% {
                        opacity: 33%;
                    }

                    100% {
                        opacity: 100%;
                    }
                }

                :nth-child(1) {
                    animation: animationPoint 1s infinite;
                }

                :nth-child(2) {
                    animation: animationPoint 1s 0.3s infinite;
                }

                :nth-child(3) {
                    animation: animationPoint 1s 0.6s infinite;
                }
            }

            .presentationOxyclash {
                position: initial;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 10vh;
                margin: 17vh 0 10vh;
                width: 100%;
                // background-color: $backGroundColor;

                p {
                    width: 90%;
                    font: $titleFont;
                    color: $white;
                    font-weight: bold;
                    font-size: 1em;
                    text-align: center;
                }

                img {
                    margin-bottom: 5vh;
                    width: 90%;
                }
            }

            #videoTeaser {
                position: absolute;
                opacity: 0.6;
                height: 65vh;
                width: 100%;
                z-index: -1;
            }

            @supports (-webkit-touch-callout: none) {
                .presentationOxyclash>div.notForIos {
                    display: none;
                }

                .presentationOxyclash>div.forIos {
                    display: block;
                }
            }

            .notForIos {
                display: block;
            }

            .forIos {
                display: none;
            }

            .teaserBtnS {
                position: relative;
                width: 100%;
                height: 40px;

                .teaserBtn {
                    position: absolute;
                    left: 45%;
                    background: none;
                    border: solid 1px $white;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(45deg);

                    @keyframes clickBtn {
                        from {
                            transform: scale(1.3) rotate(45deg);
                        }

                        to {
                            transform: scale(0.77) rotate(45deg);
                        }
                    }

                    &:active {
                        animation: clickBtn 0.5s;
                        // transform: scale(2) rotate(45deg);
                        // left: 45%;
                    }

                    svg {
                        width: 60%;
                        height: 60%;
                        transform: rotate(-45deg);
                    }

                }

                div {
                    font: $buttonFont;
                    font-style: normal;
                    font-weight: bold;
                    color: $txtColor;
                }
            }

            .codeBar {
                width: 20%;
            }
        }

        .withBg {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background-color: $backGroundColor;
        }

        #details {

            &Oxyclash {
                width: 100%;
                padding: 10vh 0 0;

                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                position: relative;

                .bracketImg {
                    margin-bottom: 10vh;
                    width: 80%;
                }

                .centerBtn {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;
                    align-items: center;
                    height: 6vh;
                    width: 45%;

                }

                .endOxyclash {
                    height: 25vh;
                    padding: 4vh 0;
                    justify-content: flex-start;
                    position: relative;

                    .filEnd {
                        bottom: 4vh;
                    }
                }

                .pseudoH2 {
                    margin-bottom: 6vh;
                    font: normal 24px "eurostile-extended", sans-serif;
                    color: #E2E2E2;
                    font-weight: bold;
                    font-size: 1em;
                    text-align: center;

                    &.yellowTitle {
                        color: $yellow;
                    }
                }

                h3 {
                    background: $mainGradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font: $titleFont;
                    font-weight: bold;
                    margin: 6vh 0;
                }

                p.pseudoH5 {
                    text-align: center;
                    color: $white;
                    font: $buttonFont;
                    font-size: 1em;
                    font-style: normal;
                    font-weight: bold;
                    width: 70%;
                    margin: 2vh 0;

                    &.hours {
                        font: $titleFont;
                        font-weight: bold;
                        color: $yellow;
                        font-size: 1.67em;

                    }
                }

                p {
                    color: $white;
                    font: $bodyFont;
                    width: 80%;
                    margin: 5vh 0 10vh;
                }

                iframe {
                    width: 70%;
                    height: 30vh;
                    margin-bottom: 7vh;

                    &.discordWidget {
                        height: 50vh;

                    }
                }


            }

            &Oxygame {
                width: 100%;

                .oxygameVideo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10%;
                }

                .planning {
                    width: 100%;

                    #planningToHours {
                        display: none;
                    }

                    .planBtns {
                        width: 100%;

                        label {
                            display: flex;
                            justify-content: flex-start;

                            .planningBtn,
                            .hoursBtn {


                                font: $titleFont;
                                font-weight: bold;
                                font-size: 0.7em;
                                width: 25%;
                                height: 6vh;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transform: skewX(-50deg);

                                span {
                                    transform: skewX(50deg)
                                }
                            }

                            .planningBtn {
                                margin: 0 0 0 3.6vh;
                                background-color: white;
                            }

                            .hoursBtn {
                                background-color: $grey;
                            }
                        }

                    }

                    #planningToHours:checked {
                        &~label {
                            .planningBtn {
                                background-color: $grey;
                            }

                            .hoursBtn {
                                background-color: #fff;
                            }
                        }

                        &~.hoursImg {
                            display: block;

                        }

                        &~.planningImg {
                            display: none;

                        }
                    }


                    .planningImg,
                    .hoursImg {
                        width: 100%;
                    }

                    .hoursImg {
                        display: none;
                    }

                    .withBg {
                        padding: 4vh 0 0;

                        .faqArrow {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 40vh;
                        }
                    }
                }

                h2 {
                    background-color: $backGroundColor;
                    padding: 5vh 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        #faqOxygame {
            background-color: $white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding: 0 5%;

            h2 {
                font: $titleFont;
                font-size: 1em;
                font-weight: bold;
                color: $txtColor;
                margin-bottom: 7vh;
            }

            p.pseudoH3 {
                font: $titleFont;
                font-size: 0.78em;
                font-weight: bold;
                color: $txtColor;
                width: 100%;
                text-align: center;
                margin-bottom: 4vh;
            }

            .pseudoH5 {
                font: $bodyFont;
                font-size: 0.88em;
                width: 100%;
                margin-bottom: 3vh;
                font-weight: bold;

            }

            p {
                font: $bodyFont;
                font-size: 0.75em;
                margin-bottom: 3vh;
                width: 90%;
            }

            .faqFilEnd {
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 1vh 0 4vh;
            }

            .gameImgs {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 5vh;

                img {
                    width: 40%;

                }
            }
        }
    }

    #subscribeInput {
        display: none;

        &:checked {
            &~#formOxyclash {
                display: block;
            }

            &~#formOxyclash .filterBlack {
                position: absolute;
                height: 100vh;
                width: 100vw;
                z-index: 12;
                display: block;
                visibility: visible;
                background-color: rgba(14, 18, 38, 0.6);
                top: 0;
                left: 0;
            }
        }
    }

    #formOxyclash {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 12;

        form#theFormOxyclash {
            position: absolute;
            width: 90%;
            height: 30vh;
            top: 30vh;
            left: 5%;
            z-index: 12;
            background-color: #E2E2E2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 3vh 0;

            .successSub {
                font: $subTitleFont;
                flex-direction: column;
                height: 100%;
                width: 100%;

                img {
                    width: 20%;
                }

            }


            h4 {
                font: $subTitleFont;
                font-weight: bold;
                font-size: 0.9em;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3.2vh;
                width: 45%;
                padding: 1vh 0px;
                position: absolute;
                top: -5.2vh;
                left: 3.1vh;
                background-color: $white;
                transform: skewX(310deg);

                span {
                    transform: skewX(50deg);
                }

            }

            label {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2vh;

                p {
                    font: $subTitleFont;
                    font-weight: bold;
                    font-size: 0.92em;
                }

                p~input [name=name],
                p~input [name=tag],
                p~input [name=email] {
                    width: 30%;
                }

                input {
                    height: 100%;
                    background-color: $lightGrey;
                    color: $txtColor;
                    border: none;
                    padding: 1px 10px;

                    &[name=name],
                    &[name=tag],
                    &[name=email] {
                        width: 60%;
                    }
                }

            }

            .submitBtn {
                display: flex;
                justify-content: flex-end;
                width: 90%;

                button {
                    font: $titleFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 0.86em;
                    border: none;
                    background-color: #FFEC00;
                    text-align: start;
                    padding: 5px 12px;
                }
            }
        }
    }

}

#legalNotice {
    background-color: $white;
    padding: 5%;

    h2 {
        font: $titleFont;
        font-weight: bold;
        text-align: left;
        color: $txtColor;
        margin-bottom: 5vh;
    }

    p {
        font: $bodyFont;
        color: $txtColor;
    }

    ul {
        list-style: none;
        color: $txtColor;
        font: $bodyFont;
    }


}

footer {
    width: 100%;
    background-color: $backGroundColor;

    div {
        width: 95%;
        margin: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2vh;
        color: #fff;

        h3 {
            grid-row: 1;
            font: $subTitleFont;
            font-size: 0.8em;
        }

        .contactInfos {
            grid-row: 2;
            grid-column: 1 / 4;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font: $bodyFont;
            font-size: 0.5em;

            .mailTel {
                grid-column: 1;

                ul {
                    list-style: none;

                    a {
                        color: $white;
                    }
                }
            }

            .coordinate {
                grid-column: 2;

                ul {
                    list-style: none;
                }
            }

            .socialMedia {
                grid-column: 3;
                display: flex;
                justify-content: space-around;

                img {
                    width: 150%;
                }
            }
        }

        .bottomFooter {
            grid-row: 3;
            grid-column: 1 / 4;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            img {
                grid-column: 1;
                width: 25%;
            }

            p {
                grid-column: 3;
                text-align: end;
            }
        }
    }


}